<div>
  <button class="btn btn-primary" (click)="decrement()">-</button>
  <input type="text" readonly [value]="counter" #campoInput/>
  <button class="btn btn-primary" (click)="increment()">+</button>
</div>
