<section class="property-binding">
  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>Site que contem interpolação: {{ url }}</p>
    <p>O resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>O resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
  </article>
  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage }}" /> <br />
    <img [src]="urlImage" />
  </article>
  <hr />

  <article>
    <h3>Class and Style Binding</h3>
    <div>
      Selecione uma classe
      <select #selectedClass (change)="(0)">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>
    </div>
    <hr />

    <!-- Class binding -->
    <div class="alert {{ selectedClass.value }}" role="alert">
      Texto colorido conforme a opção da class
    </div>

    <div
      class="alert"
      role="alert"
      [class.alert-success]="selectedClass.value == 'alert-success'"
    >
      Success alert!
    </div>
    <div
      class="alert"
      role="alert"
      [class.alert-info]="selectedClass.value == 'alert-info'"
    >
      Info alert!
    </div>
    <div
      class="alert"
      role="alert"
      [class.alert-warning]="selectedClass.value == 'alert-warning'"
    >
      Warning alert!
    </div>
    <div
      class="alert"
      role="alert"
      [class.alert-danger]="selectedClass.value == 'alert-danger'"
    >
      Danger alert!
    </div>
    <!-- End of class binding -->
    <!-- Style Binding -->
    <div
      class="alert alert-danger"
      role="alert"
      [style.display]="selectedClass.value == 'alert-danger' ? 'block' : 'none'"
    >
      Esta mensagem só aparece se 'Danger' for selecionado.
    </div>
  </article>
  <!-- End of Style Binding -->

  <!-- Event binding -->
  <section class="event-binding">
    <article>
      <h3>Event Binding</h3>
      <div>
        <button (click)="botaoClicado()" class="btn btn-primary">
          Me clique!
        </button>
        <hr />
        <input
          (keyup)="onKeyUp($event)"
          (keyup.enter)="salvarValor(campoImput.value)"
          type="text"
          #campoImput
        />
        <p>Valor inserido: {{ valorAtual }}</p>
        <p>Valor salvo: {{ valorSalvo }}</p>
        <span
          (mouseover)="onMouseOverOut()"
          (mouseout)="onMouseOverOut()"
          [class.highlight]="isMouseOver"
          >Passe o mouse em cima de mim! hehe
        </span>
      </div>
    </article>
  </section>
  <hr />
  <!-- End of event binding -->

  <!-- Start Two way Data Binding -->
  <section class="two-way">
    <article>
      <div>
        <h3>Two Way DataBinding</h3>
        <input
          type="text"
          [value]="frase"
          (input)="frase = $event.target.value"
        />

        <input type="text" [(ngModel)]="frase" />
        <p>Você digitou: {{ frase }}</p>
      </div>

      <div>
        
        <p>
          Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade
        </p>
        <input type="text" [(ngModel)]="pessoa.nome" />
        <input type="text" [(ngModel)]="pessoa.idade" />
      </div>
    </article>
  </section>

  <hr />

  <section class="input-property">
    <article>
      <h3>Input Property</h3>
      <app-curso [nome]="nomeCurso"></app-curso>
      <contador [counter]="actualCounter" (changeCounter)="onChangeCounter($event)">
      </contador>
    </article>
  </section>
</section>
