<app-data-binding style="text-align: center;"></app-data-binding>
<!-- <app-ciclo [initialValue]="value" *ngIf="!delected"></app-ciclo>
<button (click)="changeValue()">Aumentar</button>
<button (click)="deleteValue()">Deletar</button> -->
